body {
  font: normal 18px 'Helvetica', Arial, Sans-serif;
}

div.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section#alert-box {
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.game-member-container {
  float: left;
  height: 80%;
  width: 50%;
}

.game-member-container header {
  width: 100%;
  font: normal 36px 'Helvetica', Arial, Sans-serif;
}
.game-member-container header:after {
  display: block;
  content: "";
  clear: both;
}

.name {
  width: 75%;
  text-align: center;
}

.wins {
  width: 25%;
  text-align: center;
}

#player header div.name {
  float: left
}

#player header div.wins {
  float: right;
}

#computer header div.name {
  float: right;
}

#computer header div.wins {
  float: left;
}

.hand {
  width: 100%;
  height: 100%;
}

#player-hand {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter :hue-rotate(220deg);
}

#computer-hand {
  -moz-transform: rotate(-90deg) scaleX(-1);
  -o-transform: rotate(-90deg) scaleX(-1);
  -webkit-transform: rotate(-90deg) scaleX(-1);
  -ms-transform: rotate(-90deg) scaleX(-1);
  transform: rotate(-90deg) scaleX(-1);
  -ms-filter: "hue-rotate(30deg)";
  filter :hue-rotate(120deg);
}

.rock {
  background: transparent no-repeat center url("https://twemoji.maxcdn.com/svg/270a.svg");
  background-size: 70% 70%;
}

.paper {
  background: transparent no-repeat center url("https://twemoji.maxcdn.com/svg/270b.svg");
  background-size: 90% 90%;
}

.scissors {
  background: transparent no-repeat center url("https://twemoji.maxcdn.com/svg/270c.svg");
  background-size: 100% 100%;
}

footer {
  text-align: center;
  color: lightblue;
}

footer a {
  color: lightblue;
  text-decoration: none;
}


@media (min-width: 800px) {
  .hand {
    width: 60%;
    height: 60%;
  }

  #player-hand {
    margin: 20% 10% 20% 30%;
  }

  #computer-hand {
    margin: 20% 30% 20% 10%;
  }
}
